<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{texto}}
        <h3>lissta de tarefas</h3>
        <input type="text" placeholder="Insere  um nova tarefa " v-model="novaTarefa" @keyup.enter="tarefas.push(novaTarefa)">
        <button @click="inseretarefa()">Inserir</button>
        <ul>
            <li v-for="item in tarefas">{{item.nome}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
         new Vue({
            el: '#app',
            data: {
                texto: 'Hello world',
                novaTarefa:'',
                tarefas:[
                    {nome:'Excrecícios de html e css'},
                    {nome:'Excrecícios de Javascrpit'},
                    {nome:'Excrecícios de VueJS'},
                    {nome:'Excrecícios de Angular'},
                    {nome:'Juntar tudo no Projeto Toolbox2'}
                ]
            },
            methods:{
                inseretarefa: function(){
                    if(!!this.novaTarefa){
                        this.tarefas.push({nome:+this.novaTarefa}),
                        this.novaTarefa=""
                    }
                }
            }
        }) 
    </script>

</body>
</html>